/* start of flexbox stuff */
div.flex-wrapper {
  /* height: 100vh; */
  width: 95%;
  margin: 0 auto;
  /* padding-bottom: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#main-content {
  height: auto;
}

section#sidebar {
  height: auto;
  width: 100%;
  flex-basis: auto;
}

/* end of flexbox responsive parts - more in media queries */

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

/* Putting items in the middle */
main,
#logo,
nav > ul#menu,
ol.footer-navigation,
#main-content,
footer {
  margin: 0 auto;
}

iframe.google-map {
  width: 600px;
  height: 480px;
  display: block;
  margin:  0 auto;
  border-radius: 3px;
  border: 2px solid var(--400-apple);
}

header {
  height: auto;
}

#logo {
  width: 100%;
  height: auto;
}

div.flex-wrapper {
  background-color: var(--100-white);
}

#main-content {
  background-color: var(--main-content-bg);
  padding: 1.4rem;
}

footer {
  margin-top: 3rem;
  text-align: center;
}

/* sidebar facebook div */
div.fb-page {
  display: block;
  /* width: 80%; */
  margin: 0 auto;
}

/* selects the ul element after the FB link box */
div.fb-page + ul {
  width: 80%;
  margin: 0 auto;
}