#sidebar {
  padding: 0 2rem 1.4rem 0.9rem;
  background-color: #F6F6F0;
  border-left: 3px solid #EDEDED;
}

#sidebar ul {
  width: 80%;
  padding-top: 0.2rem;
  margin: 0.2rem 0 1.8rem 0;
}

#sidebar li {
  list-style: none;
  padding-bottom: 0.3rem;
}

#sidebar li a,
#sidebar li a:hover {
  padding-left: 1.5rem;
  display: block;
  background: transparent url('../UI_graphics/bullet.png') no-repeat left center;
}

#sidebar li a.selected {
  color: var(--700-grey);
  text-decoration: none;
}
