footer {
  font-size: 0.9rem;
  padding: 20px 0 5px 0;
  text-align: center;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

ol.footer-navigation li {
  margin-bottom: 0.8rem;
  list-style-type: none;
}

footer a,
footer a:hover {
  color: #111;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

footer p {
  line-height: 1.5rem;
  padding: 0;
}
