@media screen and (min-width: 768px) {
  div.flex-wrapper {
    flex-direction: row;
  }

  section#main-content {
    height: 85vh;
    flex-grow: 1;
  }

  section#sidebar {
    width: 15rem;
    padding: 2rem;
  }

  /* main menu for tablet/desktop */
  nav > ul#menu {
    max-width: 1300px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
  }

  ul#menu li {
    width: auto;
  }

  /* secondary footer nav for tablet/desktop */
  ol.footer-navigation {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
  }

  ol.footer-navigation li {
    padding-right: 1rem;
  }

  ol.footer-navigation li::after {
    content: '|';
    padding-left: 1rem;
  }

  ol.footer-navigation li:last-child::after {
    content: '';
  }
}
